.box{
background-color:  #7dd87d;
width: 500px;
height: 450px;
margin: 10px auto;
font-family: sans-serif;
text-align:left;
padding-left: 50px;
padding-top: 100px;
border-radius: 8px;



}
button{
    border-radius: 20px;
    border: none;
    font-family: sans-serif;
    color: black;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    width: 200px;
    margin-top: 20px;
}
h1{
    margin: 0;
}
p{
    margin-top: 25px;
}